accelerate
basicsr
diffusers==0.18.2
einops
gradio
imageio
matplotlib
mmdet==3.2.0
mmpose==1.2.0
numpy
omegaconf
opencv_python
openvino
pandas
Pillow
prettytable
pytorch_lightning
PyYAML
safetensors
scipy
setuptools
scikit-image
timm==0.6.7
torch_tb_profiler
tqdm
transformers


